{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/jpg" href="{% static 'images/bee.jpg' %}"/>
    <link rel='stylesheet' href='https://beedevservices.github.io/beedev-css/framework/beedev.css'>
    <link rel="stylesheet" href="{% static 'styles.css'%}">
    <title>Personal Sites & IDEs Wiki</title>
</head>
<body>
    <header>
        <h1>Personal Sites & IDEs Wiki</h1>
        <nav>
            {% block menu %} {% include 'menu.html' %} {% endblock menu %}
        </nav>
    </header>
    <main>
        <h2>IDEs</h2>
        <div class="row">
            <div class="column">
                <h3>Testing</h3>
                <div class="nav">
                    {% for m in misc %}
                        {% if m.topic_id == 1 %}
                            <a href="{{m.url}}" target="_blank">{{m.name}}</a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="column">
                <h3>Basics</h3>
                <div class="nav">
                    {% for m in misc %}
                        {% if m.topic_id == 4 %}
                            <a href="{{m.url}}" target="_blank">{{m.name}}</a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <h2>Personal Websites</h2>
        <div class="row">
            <div class="column">
                <h3>Code Base</h3>
                <div class="nav">
                    {% for w in web %}
                        {% if w.topic_id == 1 %}
                            <a href="{{w.url}}" target="_blank">{{w.name}}</a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="column">
                <h3>Live Links</h3>
                <div class="nav">
                    {% for w in web %}
                        {% if w.topic_id == 4 %}
                            <a href="{{w.url}}" target="_blank">{{w.name}}</a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>
    <footer>
        {% block footer %} {% include 'footer.html' %} {% endblock footer %}
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'scripts.js' %}"></script>
</body>
</html>