{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/jpg" href="{% static 'images/bee.jpg' %}"/>
    <link rel='stylesheet' href='https://beedevservices.github.io/beedev-css/framework/beedev.css'>
    <link rel="stylesheet" href="{% static 'styles.css'%}">
    <title>Sirch Wiki</title>
</head>
<body>
    <header>
        <h1>Sirch Wiki</h1>
        <nav>
            {% block menu %} {% include 'menu.html' %} {% endblock menu %}
        </nav>
    </header>
    <main>
        <h2>To Do</h2>
        <div class="row">
            <div class="column">
                <h3>Figma</h3>
                <div class="nav">
                    {% for t in tasks %}
                        {% if t.topic_id == 1 %}
                            <a href="{{t.url}}" target="_blank">{{t.name}}</a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="column">
                <h3>Info</h3>
                <div class="nav">
                    {% for t in tasks %}
                        {% if t.topic_id == 4 %}
                            <a href="{{t.url}}" target="_blank">{{t.name}}</a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <h2>Work</h2>
        <div class="row">
            <div class="column">
                <h3>Upload / Git</h3>
                <div class="nav">
                    {% for w in work %}
                        {% if w.topic_id == 1 %}
                            <a href="{{w.url}}" target="_blank">{{w.name}}</a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="column">
                <h3>Sites</h3>
                <div class="nav">
                    {% for w in work %}
                        {% if w.topic_id == 4 %}
                            <a href="{{w.url}}" target="_blank">{{w.name}}</a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'scripts.js' %}"></script>
</body>
</html>