{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/jpg" href="{% static 'images/bee.jpg' %}"/>
    <link rel="stylesheet" href="{% static 'styles.css'%}">
    <title>{{edit.topic}}</title>
</head>
<body>
    <header>
        <h1>{{edit.topic}}</h1>
        <nav>
            {% block menu %} {% include 'menu.html' %} {% endblock menu %}
        </nav>
        <h4><span>Melissa Time: </span><span id="myTime" onload="est()"></span></h4>
    </header>
    <main>
        <div class="row">
            <div class="column">
                <h3>Topic:</h3>
                <h3>{{edit.id}}: {{edit.topic}} | <a href="/theAdmin/topic/{{edit.id}}/delete/">Delete</a></h3>

            </div>
            <div class="column">
                <h3>Topic: </h3>
                <form action='/theAdmin/topic/{{edit.id}}/update/' method='post'>
                    {% csrf_token %}
                    <section>
                        <label for='topic'>Page Type:</label>
                        <input name='topic' type='text' value='{{edit.topic}}'>
                    </section>
                    <button>Topic Type</button>
                </form>
            </div>
        </div>
    </main>
    <footer>
        {% block footer %} {% include 'footer.html' %} {% endblock footer %}
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'scripts.js' %}"></script>
    <script>
        setInterval(est, 8000);
        // myTime()
    </script>
</body>
</html>